/*! normalize.css v3.0.1 | MIT License | git.io/normalize */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic&subset=latin,cyrillic);
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
@font-face {
  font-family: 'Neris-SemiBold';
  src: url('../fonts/Neris-SemiBold.eot');
  src: local('☺'), url('../fonts/Neris-SemiBold.woff') format('woff'), url('../fonts/Neris-SemiBold.ttf') format('truetype'), url('../fonts/Neris-SemiBold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
/*
LESS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: @icon-home-width;
}

The large array-like variables contain all information about a single icon
@icon-home: x y offset_x offset_y width height total_width total_height image_path name;

At the bottom of this section, we provide information about the spritesheet itself
@spritesheet: width height image @spritesheet-sprites;
*/
/*
The provided classes are intended to be used with the array-like variables

.icon-home {
  .sprite-width(@icon-home);
}
.icon-email {
  .sprite(@icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
/*
The `.sprites` mixin generates identical output to the CSS template
  but can be overridden inside of LESS

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

.sprites(@spritesheet-sprites);
*/
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
}
.modal-container {
  z-index: 150;
  background-color: rgba(0, 0, 0, 0.35);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
}
.modal {
  background-color: white;
  width: 730px;
  margin: 30px auto;
  -webkit-box-shadow: 0 0 51px rgba(0, 0, 0, 0.42);
  box-shadow: 0 0 51px rgba(0, 0, 0, 0.42);
}
.modal__header {
  background-color: #5ca2d3;
  text-shadow: 1px 1px 0 #4d88b1;
  color: white;
  position: relative;
  padding: 17px 20px 17px 64px;
  font-size: 18px;
  font-family: 'Neris-SemiBold', sans-serif;
}
.modal__header--icon:before {
  content: "";
  background-repeat: no-repeat;
  position: absolute;
}
.modal__header--addnew:before {
  background-image: url(../images/sprites/sprite.png);
  background-position: 0px 0px;
  width: 21px;
  height: 21px;
  left: 22px;
  top: 24px;
}
.modal__body {
  padding: 30px 22px;
}
.modal__close {
  position: absolute;
  right: 20px;
  top: 18px;
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.modal__close:before,
.modal__close:after {
  background-color: white;
  content: "";
  position: absolute;
  width: 24px;
  height: 2px;
  margin-top: 11px;
  left: 0;
  right: 0;
  top: 0;
  z-index: 2;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.modal__close:before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.modal__close:after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.modal__close span {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.modal__close span:before,
.modal__close span:after {
  background-color: #4d88b1;
  content: "";
  position: absolute;
  width: 24px;
  height: 2px;
  margin-top: 11px;
  left: 1px;
  right: -1px;
  top: 0;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.modal__close span:before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.modal__close span:after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.modal__close:hover:before {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.modal__close:hover:after {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.modal__close:hover span:before {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.modal__close:hover span:after {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.row-tags {
  border-bottom: 1px solid #dfdfdf;
  font-size: 0;
  padding: 6px 12px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.row-tags__title {
  display: inline-block;
  vertical-align: top;
  padding-left: 34px;
  font-size: 14px;
  color: #899aaf;
  margin: 4px 6px 0 0;
  font-family: 'Neris-SemiBold', sans-serif;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.row-tags__title--icon {
  position: relative;
}
.row-tags__title--icon:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -10px;
  background-image: url(../images/sprites/sprite.png);
  background-position: -49px 0px;
  width: 20px;
  height: 21px;
}
.row-tags--options .row-tags__title {
  color: #5ca2d3;
}
.row-tags--options .row-tags__title--icon:before {
  background-image: url(../images/sprites/sprite.png);
  background-position: -25px 0px;
  width: 20px;
  height: 21px;
}
.row-tags--options + .dropdown-autocomplete {
  -webkit-transform: scaleY(1);
  -ms-transform: scaleY(1);
  -o-transform: scaleY(1);
  transform: scaleY(1);
}
.choosed-tag {
  cursor: pointer;
  border: 1px solid #dfdfdf;
  background: none;
  font-style: italic;
  color: #8d8c8c;
  font-size: 13px;
  padding: 3px 10px;
  display: inline-block;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 6px 6px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.choosed-tag:hover {
  background-color: #f3f3f3;
}
.btn-remove {
  width: 12px;
  height: 12px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  cursor: pointer;
  background: none;
  padding: 0;
  border: none;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.btn-remove:hover {
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
  transform: scale(1.5);
}
.btn-remove:focus {
  outline: none;
}
.btn-remove:before,
.btn-remove:after {
  background-color: #899aaf;
  width: 12px;
  height: 2px;
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 2;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  margin-top: 5px;
}
.btn-remove:before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.btn-remove:after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.btn-remove--tags-search {
  position: absolute;
  right: 15px;
  top: 50%;
  margin-top: -6px;
}
.btn-remove--tag {
  margin-left: 5px;
  width: 8px;
  height: 8px;
  margin-top: -4px;
}
.btn-remove--tag:before,
.btn-remove--tag:after {
  background-color: #b8bcbc;
  width: 8px;
  margin-top: 4px;
}
.dropdown-autocomplete {
  border: 1px solid #dfdfdf;
  border-top: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transform: scaleY(0);
  -ms-transform: scaleY(0);
  -o-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: top;
  -moz-transform-origin: top;
  -ms-transform-origin: top;
  transform-origin: top;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.dropdown-autocomplete:before,
.dropdown-autocomplete:after {
  content: " ";
  display: table;
}
.dropdown-autocomplete:after {
  clear: both;
}
.dropdown-autocomplete__col {
  float: left;
  width: 50%;
}
.dropdown-autocomplete__list {
  list-style: none;
  padding: 12px 0;
  margin: 0;
}
.dropdown-autocomplete__item {
  padding: 0 1px;
}
.dropdown-autocomplete__item-link {
  display: block;
  font-style: italic;
  color: #77889d;
  text-decoration: none;
  padding: 7px 18px;
  border: 1px solid transparent;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.dropdown-autocomplete__item-link:hover {
  background-color: #f3f6f7;
  border-color: #ebeeef;
}
.dropdown-autocomplete__field {
  border-bottom: 1px solid #dfdfdf;
  position: relative;
}
.form-control::-webkit-input-placeholder {
  color: #808181;
  opacity: 1;
  filter: alpha(opacity=100);
}
.form-control::-moz-placeholder {
  color: #808181;
  opacity: 1;
  filter: alpha(opacity=100);
}
.form-control:-moz-placeholder {
  color: #808181;
  opacity: 1;
  filter: alpha(opacity=100);
}
.form-control:-ms-input-placeholder {
  color: #808181;
  opacity: 1;
  filter: alpha(opacity=100);
}
.form-control:focus {
  outline: none;
}
.form-control:focus::-webkit-input-placeholder {
  opacity: 0;
  filter: alpha(opacity=0);
}
.form-control:focus::-moz-placeholder {
  opacity: 0;
  filter: alpha(opacity=0);
}
.form-control:focus:-moz-placeholder {
  opacity: 0;
  filter: alpha(opacity=0);
}
.form-control:focus:-ms-input-placeholder {
  opacity: 0;
  filter: alpha(opacity=0);
}
.form-control--tags {
  padding: 0;
  border: none;
  background: none;
  font-style: italic;
  color: #8d8c8c;
  font-size: 13px;
  padding: 4px 10px 3px;
  display: inline-block;
  vertical-align: top;
  margin-left: 6px;
}
.form-control--tags::-webkit-input-placeholder {
  color: #8d8c8c;
  opacity: 1;
  filter: alpha(opacity=100);
}
.form-control--tags::-moz-placeholder {
  color: #8d8c8c;
  opacity: 1;
  filter: alpha(opacity=100);
}
.form-control--tags:-moz-placeholder {
  color: #8d8c8c;
  opacity: 1;
  filter: alpha(opacity=100);
}
.form-control--tags:-ms-input-placeholder {
  color: #8d8c8c;
  opacity: 1;
  filter: alpha(opacity=100);
}
.form-control--tags:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.form-control--autocomplete {
  padding: 0;
  background: none;
  border: none;
  padding: 16px 20px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 50px;
  font-family: 'Neris-SemiBold', sans-serif;
  font-size: 14px;
  color: #808181;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.form-control--autocomplete::-webkit-input-placeholder {
  color: #808181;
}
.form-control--autocomplete::-moz-placeholder {
  color: #808181;
}
.form-control--autocomplete:-moz-placeholder {
  color: #808181;
}
.form-control--autocomplete:-ms-input-placeholder {
  color: #808181;
}
.form-control--autocomplete:focus {
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}
