@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic&subset=latin,cyrillic);
@font-face {
  font-family: 'Neris-SemiBold';
  src: url('../fonts/Neris-SemiBold.eot');
  src: local('☺'), url('../fonts/Neris-SemiBold.woff') format('woff'), url('../fonts/Neris-SemiBold.ttf') format('truetype'), url('../fonts/Neris-SemiBold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
