@import "../bower/normalize-less/normalize.less";
@import "../bower/bootstrap-less/less/mixins.less";
@import "variables.less";
@import "sprite.less";

body {
	font-family: @main-font;
	font-size: 13px;
}

.modal-container {
	position: fixed;
	z-index: 150;
	background-color: rgba(0, 0, 0, 0.35);
	position: fixed;
	left: 0; right: 0;
	top: 0; bottom: 0;
	overflow-x: hidden;
	overflow-y: auto;
}

.modal {
	background-color: white;
	width: 730px;
	margin: 30px auto;
	.box-shadow(0 0 51px rgba(0, 0, 0, 0.42));

	&__header {
		background-color: @bg-header;
		text-shadow: 1px 1px 0 #4d88b1;
		color: white;
		position: relative;
		padding: 17px 20px 17px 64px;
		font-size: 18px;
		font-family: @bold-font;

		&--icon {

			&:before {
				content: "";
				background-repeat: no-repeat;
				position: absolute;
			}
		}

		&--addnew {

			&:before {
				.sprite(@icn-addnew);
				left: 22px;
				top: 24px;
			}
		}
	}

	&__body {
		padding: 30px 22px;
	}

	&__close {
		position: absolute;
		right: 20px;
		top: 18px;
		width: 24px;
		height: 24px;
		cursor: pointer;

		&:before,
		&:after {
			background-color: white;
			content: "";
    		position: absolute;
    		width: 24px;
    		height: 2px;
    		margin-top: 11px;
    		left: 0; right: 0;
    		top: 0;
    		z-index: 2;
    		.transition(all .3s);
		}

		&:before {
			.rotate(45deg);
		}

		&:after {
			.rotate(-45deg);
		}

		span {
			position: absolute;
			left: 0; right: 0;
			top: 0; bottom: 0;

			&:before,
			&:after {
				background-color: #4d88b1;
				content: "";
	    		position: absolute;
	    		width: 24px;
	    		height: 2px;
	    		margin-top: 11px;
	    		left: 1px; right: -1px;
	    		top: 0;
	    		.transition(all .3s);
			}

			&:before {
				.rotate(45deg);
			}

			&:after {
	
				.rotate(-45deg);
			}			
		}

		&:hover {
			
			&:before {
				.rotate(-45deg);
			}

			&:after {
				.rotate(45deg);
			}

			span {

				&:before {
					.rotate(-45deg);
				}

				&:after {
					.rotate(45deg);
				}
			}
		}
	}
}

.row-tags {
	border-bottom: 1px solid @border-color;
	font-size: 0;
	padding: 6px 12px 0;
	.box-sizing(border-box);

	&__title {
		display: inline-block;
		vertical-align: top;
		padding-left: 34px;
		font-size: 14px;
		color: #899aaf;
		margin: 4px 6px 0 0;
		font-family: @bold-font;
		.transition(all .3s);

		&--icon {
			position: relative;

			&:before {
				content: "";
				position: absolute;
				left: 0;
				top: 50%;
				margin-top: -10px;
				.sprite(@icn-label);
			}
		}
	}

	&--options {

		.row-tags__title {
			color: #5ca2d3;

			&--icon {
				
				&:before {
					.sprite(@icn-label-color);
				}	
			}	
		}

		+ .dropdown-autocomplete {
			.scaleY(1);
		}
	}
}

.choosed-tag {
	cursor: pointer;
	border: 1px solid @border-color;
	background: none;
	font-style: italic;
	color: #8d8c8c;
	font-size: 13px;
	padding: 3px 10px;
	display: inline-block;
	vertical-align: middle;
	.box-sizing(border-box);
	margin: 0 6px 6px;
	.transition(all .3s);

	&:hover {
		background-color: lighten(@border-color, 8%);
	}
}

.btn-remove {
	width: 12px;
	height: 12px;
	display: inline-block;
	vertical-align: middle;
	position: relative;
	cursor: pointer;
	background: none;
	padding: 0;
	border: none;
	.transition(all .2s);

	&:hover {
		.scale(1.5);
	}

	&:focus {
		outline: none;
	}

	&:before,
	&:after {
		background-color: #899aaf;
		width: 12px;
		height: 2px;
		content: "";
		position: absolute;
		left: 0; right: 0;
		top: 0;
		z-index: 2;
		.transition(all .3s);
		margin-top: 5px;
	}

	&:before {
		.rotate(45deg);
	}

	&:after {
		.rotate(-45deg);
	}

	&--tags-search {
		position: absolute;
		right: 15px;
		top: 50%;
		margin-top: -6px;
	}

	&--tag {
		margin-left: 5px;
		width: 8px;
		height: 8px;
		margin-top: -4px;

		&:before,
		&:after {
			background-color: #b8bcbc;
			width: 8px;
			margin-top: 4px;
		}	
	}
}

.dropdown-autocomplete {
	border: 1px solid @border-color;
	border-top: none;
	.box-sizing(border-box);
	.clearfix;
	.scaleY(0);
	.transform-origin(top);
	.transition(all .4s);

	&__col {
		float: left;
		width: 50%;
	}

	&__list {
		list-style: none;
		padding: 12px 0;
		margin: 0;
	}

	&__item {
		padding: 0 1px;
	}

	&__item-link {
		display: block;
		font-style: italic;
		color: #77889d;
		text-decoration: none;
		padding: 7px 18px;
		border: 1px solid transparent;
		.transition(all .3s);

		&:hover {
			background-color: #f3f6f7;
			border-color: #ebeeef;
		}
	}

	&__field {
		border-bottom: 1px solid @border-color;
		position: relative;
	}
}

.form-control {
	
	&::-webkit-input-placeholder {color: #808181; .opacity(1);}
	&::-moz-placeholder          {color: #808181; .opacity(1);}
	&:-moz-placeholder           {color: #808181; .opacity(1);}
	&:-ms-input-placeholder      {color: #808181; .opacity(1);}

	&:focus {
		outline: none;

		&::-webkit-input-placeholder {.opacity(0);}
		&::-moz-placeholder          {.opacity(0);}
		&:-moz-placeholder           {.opacity(0);}
		&:-ms-input-placeholder      {.opacity(0);}
	}

	&--tags {
		padding: 0;
		border: none;
		background: none;
		font-style: italic;
		color: #8d8c8c;
		font-size: 13px;
		padding: 4px 10px 3px;
		display: inline-block;
		vertical-align: top;
		margin-left: 6px;

		&::-webkit-input-placeholder {color: #8d8c8c; .opacity(1);}
		&::-moz-placeholder          {color: #8d8c8c; .opacity(1);}
		&:-moz-placeholder           {color: #8d8c8c; .opacity(1);}
		&:-ms-input-placeholder      {color: #8d8c8c; .opacity(1);}

		&:focus {
			outline: none;
			.box-shadow(none);
		}
	}

	&--autocomplete {
		padding: 0;
		background: none;
		border: none;
		padding: 16px 20px;
		width: 100%;
		.box-sizing(border-box);
		height: 50px;
		font-family: @bold-font;
		font-size: 14px;
		color: #808181;
		.transition(all .3s);

		&::-webkit-input-placeholder {color: #808181;}
		&::-moz-placeholder          {color: #808181;}
		&:-moz-placeholder           {color: #808181;}
		&:-ms-input-placeholder      {color: #808181;}

		&:focus {
			.box-shadow(0 0 8px rgba(0, 0, 0, 0.5));
		}
	}
}