/*
LESS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: @icon-home-width;
}

The large array-like variables contain all information about a single icon
@icon-home: x y offset_x offset_y width height total_width total_height image_path name;

At the bottom of this section, we provide information about the spritesheet itself
@spritesheet: width height image @spritesheet-sprites;
*/
@icn-addnew-name: 'icn-addnew';
@icn-addnew-x: 0px;
@icn-addnew-y: 0px;
@icn-addnew-offset-x: 0px;
@icn-addnew-offset-y: 0px;
@icn-addnew-width: 21px;
@icn-addnew-height: 21px;
@icn-addnew-total-width: 69px;
@icn-addnew-total-height: 21px;
@icn-addnew-image: '../images/sprites/sprite.png';
@icn-addnew: 0px 0px 0px 0px 21px 21px 69px 21px '../images/sprites/sprite.png' 'icn-addnew';
@icn-label-color-name: 'icn-label-color';
@icn-label-color-x: 25px;
@icn-label-color-y: 0px;
@icn-label-color-offset-x: -25px;
@icn-label-color-offset-y: 0px;
@icn-label-color-width: 20px;
@icn-label-color-height: 21px;
@icn-label-color-total-width: 69px;
@icn-label-color-total-height: 21px;
@icn-label-color-image: '../images/sprites/sprite.png';
@icn-label-color: 25px 0px -25px 0px 20px 21px 69px 21px '../images/sprites/sprite.png' 'icn-label-color';
@icn-label-name: 'icn-label';
@icn-label-x: 49px;
@icn-label-y: 0px;
@icn-label-offset-x: -49px;
@icn-label-offset-y: 0px;
@icn-label-width: 20px;
@icn-label-height: 21px;
@icn-label-total-width: 69px;
@icn-label-total-height: 21px;
@icn-label-image: '../images/sprites/sprite.png';
@icn-label: 49px 0px -49px 0px 20px 21px 69px 21px '../images/sprites/sprite.png' 'icn-label';
@spritesheet-width: 69px;
@spritesheet-height: 21px;
@spritesheet-image: '../images/sprites/sprite.png';
@spritesheet-sprites: @icn-addnew @icn-label-color @icn-label;
@spritesheet: 69px 21px '../images/sprites/sprite.png' @spritesheet-sprites;

/*
The provided classes are intended to be used with the array-like variables

.icon-home {
  .sprite-width(@icon-home);
}
.icon-email {
  .sprite(@icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.sprite-width(@sprite) {
  width: extract(@sprite, 5);
}

.sprite-height(@sprite) {
  height: extract(@sprite, 6);
}

.sprite-position(@sprite) {
  @sprite-offset-x: extract(@sprite, 3);
  @sprite-offset-y: extract(@sprite, 4);
  background-position: @sprite-offset-x @sprite-offset-y;
}

.sprite-image(@sprite) {
  @sprite-image: extract(@sprite, 9);
  @sprite-image-bare: ~`"@{sprite-image}".slice(1, -1)`;
  background-image: url(@sprite-image-bare);
}

.sprite(@sprite) {
  .sprite-image(@sprite);
  .sprite-position(@sprite);
  .sprite-width(@sprite);
  .sprite-height(@sprite);
}

/*
The `.sprites` mixin generates identical output to the CSS template
  but can be overridden inside of LESS

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

.sprites(@spritesheet-sprites);
*/
.sprites(@sprites, @i: 1) when (@i <= length(@sprites)) {
  @sprite: extract(@sprites, @i);
  @sprite-name: e(extract(@sprite, 10));
  .@{sprite-name} {
    .sprite(@sprite);
  }
  .sprites(@sprites, @i + 1);
}
